.titulo{
    font-size: var(--font-page-titles);
    margin-bottom: 5px;
}

.subtitulo{
    font-size: var(--font-small);
}
.corlink{
    color: var(--color-link);
}

.lableinputs{
    color: var(--color-text);
    font-size: var(--font-small);
}
.inputs{
        width: 100%;
        height: 45px;
        padding: 0 20px;
        outline: none;
        border: var(--border-input);
        border-radius: 7px;
        font-size: var(--font-small-titles);
        transition: .3s;
        
}

.botalogin{
    border: none;
    font-size: var(--font-small);
    color: var(--color-cards);
    height: 45px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.aderirCard{
    width: 100%;
    height: 72px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.aderirCard:hover{
    background-color: #d0d5dd;
}

.textoCard{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tituloCard{
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 16px;
    color: var(--color-primary);
    text-align: left;

}

.mesagemcard{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 13px;
    color: var(--secondary-dark-3);
}



