.exchange{
    width: 24%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    background: linear-gradient(-134deg, rgb(0, 143, 251) 0px, rgb(0, 61, 109) 100%);
}

.exchange >.exchangeText {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: Rubik;
}
.exchangeText h1{
    position: absolute;
    font-weight: 500;
    font-size: var(--font-small-titles);
    top: 20px;
    left: 10px;
}
.exchange > .exchangeText > p:nth-child(2){
    position: absolute;
    top: 45px;
    left: 2px;
    font-size: var(--font-small-info);
    font-family: Rubik;
}
.exchange > .exchangeText > p:nth-child(3){
    position: absolute;
    top: 42px;
    right: 10px;
    font-weight: 500;
    font-size: var(--font-small-titles);
}