@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik-Regular.ttf);
}

*, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: Rubik;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
    --color-text: #565656;
    --color-link: #1A82FF;
    --color-body: #f7f7f7;
    --color-cards: #ffffff;
    --shadow-cards: rgba(149, 157, 165, 0.2) 0px 8px ;
    --color-focus: #1A82FF;
    --color-focus3:#e5553c1e;
    --color-focus2: #1A82FF;
    --color-placeholder: #545454;
    --border-input: 1px solid #D8D8D8;
    --color-border: #d2d2d2;
    --color-border2: #293746;
    --color-border3: #cdd7f4;
    --font-small: clamp(0.8rem, 0.875rem , 0.9rem);
    --font-small-titles: clamp(0.95rem, 1rem , 1.2rem);
    --font-small-info: clamp(0.7rem, 0.725rem , 1rem);
    --font-page-titles: clamp(1.8rem, 1.9rem , 2rem);
    --font-page-subtitles: 1.25rem;
    --font-page-focus: clamp(1.2rem, 1.3rem , 1.7rem);
}

body {
    width: 100%;
    height: 100vh;
    font-size: 14px;
}

div[data-overlay-container="true"] {
    height: 100%;
}

::placeholder {
    font-family: Rubik;
    font-size: var(--font-small);
    color: var(--color-placeholder);
}

.apexcharts-canvas.apexchartszcij6rr1.apexcharts-theme-light {
    height: 100% !important;
}

.page_title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--color-text);
}

.buttonMenu {
    width: 35px;
    height: 35px;
    color: var(--color-body);
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
}


.basic_text {
    font-family: Rubik;
    color: var(--color-text);
    font-size: 0.9rem;
}

.input_field {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 15px;
}
.input_field > label {
    color: var(--color-text);
    font-family: Rubik;
    font-size: var(--font-small);
}
.input_field > input {
    width: 100%;
    height: 45px;
    padding: 0px 20px;
    outline: none;
    border: var(--border-input);
    border-radius: 7px;
    font-family: Rubik;
    font-size: var(--font-small-titles);
    transition: .3s;
}

.input_error {
    font-size: var(--font-small);
    font-family: Rubik;
    color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.input_error > svg {
    width: 17px;
    height: 17px;
}
.input_field > input:focus {
    border-color: var(--color-focus);
}
input:-webkit-autofill {
    background-color: transparent;
}
.button_auth {
    width: 100%;
    height: 45px;
    font-family: Rubik;
    font-size: var(--font-small);
    color: var(--color-cards);
    background-color: var(--color-focus);
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_auth:hover {
    background-color: var(--color-focus2);
}
.button_auth.register {
    border: var(--border-input);
    background-color: var(--color-cards);
    color: var(--color-text);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
}
.button_auth.register:hover {
    border-color: var(--color-focus3);
    background-color: var(--color-focus3);
    color: var(--color-focus);
    transition: .3s;
}


button:disabled {
    opacity: 0.5;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}