.cartao {
  width: 100%;
  border-width: 1px;
  height: 15rem;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: var(--color-cards);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all .3s;
}

.cartao:hover{
    transform: scale(1.01);
}

.cartao .informacaoCartao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartao > div > h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;

  color: var(--color-primary);
  font-weight: 700;
}

.cartao > div > p {
  color: var(--color-gray);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.icone {
  width: 6rem;
}

.cartao .iconeContainer {
  display: flex;
  justify-content: center;
}

/* Tablets para cima */
@media (min-width: 768px) {
  .cartao {
    width: 50%;
    height: 18rem;
  }

  .icone {
    width: 8rem;
  }
}
