@import url("~leaflet/dist/leaflet.css");

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  min-height: 500px;
  z-index: 1;
  position: relative;
}

/* Garantir que o mapa ocupe toda a área disponível */
.leaflet-container.leaflet-touch {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .App {
    height: calc(100vh - 80px);
  }
  
  .leaflet-container {
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .App {
    height: calc(100vh - 120px);
  }
}
